* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  height: 100vh;
}
.container-content {
  width: 40rem;
  background-color: white;
  padding: 2rem 5px;
  border-radius: 5px;
}
input {
  width: 70%;
  padding: 1.2rem;
  outline: none;
  border: 1px solid orange;
  font-size: 24px;
}
.btn {
  width: 25%;
  padding: 1.2rem;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: orange;
}
