* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  margin: 0;
  overflow: hidden;
  background-color: #f6f7fb;
}
.container {
  text-align: center;
}
.progress-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
  position: relative;
}
.progress-container::before{
  content: '';
  position: absolute;
  height: 4px;
  background: #e0e0e0;
  width: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.progress {
  position: absolute;
  height: 4px;
  background: #3498db;
  width: 0%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all .3s;
  z-index: -1;
}
.circle {
  background: #fff;
  color: #999;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #e0e0e0;
  transition: all .4s;
}
.circle.active {
  border-color: #3498db;
}
.btn {
  background: #3498db;
  border: 0;
  color: #fff;
  font-size: 14px;
  padding: 8px 30px;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px;
}
.btn:active {
  transform: scale(.98);
}
.btn:focus {
  outline: none;
}
.btn:disabled {
  background: #e0e0e0;
  cursor: not-allowed;
}         