* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
h2 {
  font-size: 2rem;
}
img {
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.instructions {
  width: 30%;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #1c2b2d;
  padding-top: 5rem;
  color: #eee;
}
.instructions h2 {
  font-size: 3.5rem;
  color: #db6400;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 10px;
}
.instructions h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 2px;
  background-color: #eee;
}
.instructions ol {
  padding-left: 1.3rem;
}
.instructions ol li p a {
  color: #db6400;
  text-decoration: none;
}
.download-link .container h1 {
  display: block;
  font-size: 3.5rem;
  line-height: 5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
  color: #5608fb;
}
input[type="radio"] {
  display: none;
}

.download-link .container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eee;
  padding: 5px;
  position: relative;
  background-color: #c6d3e6;
  z-index: 1;
}
.download-link .container nav label {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
nav .slide {
  position: absolute;
  top: 0;
  left: 3%;
  width: 26%;
  height: 100%;
  background-color: #db6400;
  z-index: -1;
  border-radius: 5px;
}
