* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
h2 {
  font-size: 2rem;
}
img {
  width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-container {
  display: flex;
  justify-content: center;
}
.instructions {
  width: 30%;
  font-size: 1.6rem;
  height: 100vh;
  background-color: #1c2b2d;
  padding-top: 5rem;
  color: #eee;
}
.instructions h2 {
  font-size: 3.5rem;
  color: #db6400;
  margin-bottom: 1rem;
  position: relative;
  padding-bottom: 10px;
}
.instructions h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25%;
  height: 2px;
  background-color: #eee;
}
.instructions ol {
  padding-left: 1.3rem;
}
.instructions ol li p a {
  color: #db6400;
  text-decoration: none;
}
.download-link .container h1 {
  display: block;
  font-size: 3.5rem;
  line-height: 5rem;
  font-weight: 700;
  text-align: center;
  padding-bottom: 1rem;
  color: #5608fb;
}
input[type="radio"] {
  display: none;
}

.download-link .container nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #eee;
  padding: 5px;
  position: relative;
  background-color: #c6d3e6;
  z-index: 1;
}
.download-link .container nav label {
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
nav .slide {
  position: absolute;
  top: 0;
  left: 3%;
  width: 26%;
  height: 100%;
  background-color: #db6400;
  z-index: -1;
  border-radius: 5px;
  transition: all 0.3s;
}

#register:checked ~ nav .slide {
  left: 34%;
}
#reset:checked ~ nav .slide {
  left: 68%;
}
#login:checked ~ nav label.login,
#register:checked ~ nav label.register,
#reset:checked ~ nav label.reset {
  color: #fff;
}
.tab-section {
  border: 1px solid green;
}
.content {
  display: none;
}
#login:checked ~ .tab-section .content-link {
  display: block;
}
#register:checked ~ .tab-section .content-audio {
  display: block;
}
#reset:checked ~ .tab-section .content-video {
  display: block;
}
.tab-section .content {
  margin: 3rem auto;
  text-align: center;
}
.content > i {
  font-size: 3rem;
  color: #db6400;
  border: 2px solid;
  border-radius: 50%;
  padding: 8px;
}
.content h2 {
  position: relative;
  margin: 5px 0;
}
.content p {
  margin: 5px 0;
}
.content form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}
.content form label {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.content form label input {
  width: 100%;
  padding: 1.3rem 3rem;
  display: block;
  position: relative;
  border-radius: 10px 0 10px 0;
  border-bottom: rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  color: rgb(89, 86, 86);
}
.content form label input:focus:invalid {
  font-size: 1.6rem;
  border-bottom: 2px solid #db6400;
}
.content form label input:invalid {
  font-size: 1.6rem;
  border-bottom: 2px solid green;
  background-color: #e8f0fe;
}
.content form i {
  position: absolute;
  left: 1rem;
  top: 1.5rem;
  color: #db6400;
  font-size: 1.3rem;
  z-index: 1;
}
.content .btn {
  padding: 1.3rem;
  border: none;
  outline: none;
  background-color: #db6400;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}
.content .btn:hover {
  background-color: #eee;
  color: black;
  border: 1px solid #db6400;
}
::placeholder {
  font-size: 1.3rem;
  color: grey;
}
.embed-code {
  font-size: 1.6rem;
  position: relative;
}
.embed-code h3 {
  margin: 5px 0;
}
.embed-code textarea {
  width: 100%;
  height: 10rem;
  outline: none;
  font-size: 1.6rem;
}

.embed-code span {
  font-size: 1.6rem;
  position: absolute;
  right: 1px;
  bottom: 5px;
  background-color: green;
  padding: 5px 8px;
  border: 1px solid #eee;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s;
}
.embed-code span:hover {
  font-size: 1.8rem;
}
